body{
  /* ___________________________________________ */
  /* SUNSET BACKGROUND OF ENTIRE VIEWER */
  height: 100vh;
  background: linear-gradient(45deg, #ff6b6b, #993399, #feca57);
  /* REMOVE SCROLLBARS */
  overflow-x: hidden;  
  overflow-y: hidden;  
  /* ___________________________________________ */
}

.App {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  /* ___________________________________________ */
  /* FOR ELEMENTAL VISIBILITY | TESTING PURPOSES */
  /* ADD ORANGE BOARDER AROUND ELEMENT */
  border: 5px solid orange;
  /* ___________________________________________ */
}

#portal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 1rem;
}
