* {
/* D E B U G G I N G  |  I N S P E C T I O N
                      ELEMENT VISIBILITY */
    /* border: 2px DASHED rgb(8, 251, 20) */
} 

body{
  text-align: center;
  /* ___________________________________________ */
  /* SUNSET BACKGROUND OF ENTIRE VIEWER */
  background: linear-gradient(45deg, #ff6b6b, #993399, #feca57);

  /* background-image: 
    linear-gradient(45deg,
    rgb(26, 24, 24), 
    rgba(57, 28, 57, 0.9), 
    rgba(254, 202, 87, 0.9)), 
    url('https://i.ibb.co/S65pWDV/pixels-holographic-25opac.png');

  background-blend-mode: color-dodge;

  background-size: cover;
  background-repeat: no-repeat; */
  
  /* REMOVE SCROLLBARS */
  overflow-x: hidden;  
  /* overflow-y: hidden;   */
  /* ___________________________________________ */
  margin: 0;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  /* align-items: center; */
  min-height: 100vh;

  font-family: Silkscreen;
}

.App {
  font-family: 'Courier New', Courier, monospace;
}
/* HORIZONTAL RULE ELEMENT (ALL) */
hr {
  border: 4px black;
  border-style: dashed double none;
}
/* 
- - - - - - C S S   S Y N T A X - - - - - - - -
E L E M E N T | C L A S S | I D  ATTRIBUTES

        SELECTOR {
          PROPERTY: VALUE;
        } 

- - - - - - - - - - - - - - - - - - - - - - - -
 */
/* ___________________________________________ */
/* ____________________N A V I G A T I O N____ */
nav {
  width: 99%;
  border: dashed 4px black;
  background-color: #6b042d54;
  box-shadow: inset 5em 1em rgba(17, 2, 72, 0.311);
    padding-top: 5%;
    padding-bottom: 5%;
  
}
nav ul {  

  display: flex; 
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  
  justify-content: space-around;

  text-align: center;
  list-style-type: none; 
  /* REMOVE BULLETS */  
}
nav ul li {
  width: auto;
  
  border: dashed 4px black;
  /* EM = ELEMENT FONT SIZE | REM = ROOT ELEMENT FONT SIZE*/
  padding: 1em;

  background-color: #6b042d54;

  color: black;
  text-decoration: none !important;
}
/* ___________________________________________ */
/* ___________________________________________ */
                                     /* FOOTER */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
}
/* ___________________________________________ */
/* ___________________________________________ */
                            /* TO-DO LIST FORM */
/* CLASS SELECTOR */
.to-do-list-form-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border: dashed 4px black;
}
.to-do-list-desc {
  /* background-color: rgba(0, 0, 0, 0.544); */
  height: 100%;
  width: 100%;
}
.to-do-list-form-container label {
  /* background-color: yellow; */
}
.to-do-list-form-container input {
  
}
.to-do-list-form-container button {
  font-family: 'Silkscreen';
  border: solid 4px black;
  background-color: pink;
  padding: 0.5rem;
}

.completed {
  text-decoration: line-through;
}

.to-do-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  border: dashed 4px black;
  min-height: 15px;
}

.to-do-list-container div {
  border: dashed 4px black;
  padding: 10px;
  margin: 10px;
}
/* ___________________________________________ */
                             /* SVG VIDEO GAME */
.svg-container { 
  width: 100%;
  /* min-width: 50%; */
/* height: fit-content; */
  border: 5px solid black;
  /* margin: 10px; */
  /* padding: 10px; */
  /* background: linear-gradient(25deg, #150650, #4c3399, #f0ede5); */
  /* background-color: rgba(13, 7, 128, 0.501); */
  background-image: 
    linear-gradient(45deg,
    rgba(51, 45, 45, 0.9), 
    rgb(9, 67, 58), 
    rgba(9, 21, 83, 0.9)), 
    url('https://i.ibb.co/S65pWDV/pixels-holographic-25opac.png');

  background-blend-mode: color-burn;

  background-size: cover;
  background-repeat: no-repeat;
}

/* =============================================================== */
/* =============================================================== */
                                            /* SPACE ISLAND SCENE */
#space-island-moon-background {

}
#space-island-moon-art {
  stroke-width: 5;
  stroke: black;
  stroke-dasharray: 4;
}
/* =============================================================== */




















/* ------ */
.tree-svg {
  animation: glowing 2s ease-in-out infinite;
  /* transform: scale(0.5); */
}
.tree-svg-art {
    stroke-width: 3px;
    /* transform: scale(0.5); */
}

@keyframes glowing {
  0% {
    /* box-shadow: 0 0 5px 3px rgba(255, 165, 0, 0.8); */
    stroke-width: 5px;
    stroke: rgba(255, 165, 0, 0.8);
    fill: none;
  }
  50% {
    /* box-shadow: 0 0 15px 10px rgba(255, 165, 0, 0.6); */
    stroke-width: 15px;
    stroke: rgba(255, 165, 0, 0.5);
    fill: none;
  }
  100% {
    /* box-shadow: 0 0 5px 3px rgba(255, 165, 0, 0.8); */
    stroke-width: 5px;
    stroke: rgba(255, 165, 0, 0.8);
    fill: none;
  }
}









/* ___________________________________________ */
                     /* USER SIGN UP AND LOGIN */
#portal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 1rem;
}
/* ___________________________________________ */






